.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;

  @include tablet-and-bigger {
    padding: 0 2.75em;
  }

  @include desktop-and-bigger {
    padding: 0 3.75em;
  }
  
  @include big-desktop-and-bigger {
    padding: 0 4.75em;
  }

  @include pading-desktop-and-bigger {
    padding: 0 8.75em;
  }
}
