.header {
  background: $gallery;
  margin: 0 -1rem;
  padding: 0 1rem;
  padding-top: 3.0625rem;

  @include tablet-and-bigger {
    margin: 0 -2.75rem;
    padding: 0 2.75rem;
    padding-top: 3.0625rem;
  }

  @include desktop-and-bigger {
    margin: 0 -3.75rem;
    padding: 0 3.75rem;
    padding-top: 3.0625rem;
  }

  @include big-desktop-and-bigger {
    margin: 0 -4.75rem;
    padding: 0 4.75rem;
    padding-top: 3.0625rem;
  }

  @include pading-desktop-and-bigger {
    margin: 0 -8.75rem;
    padding: 0 8.75rem;
    padding-top: 3.0625rem;
  }

  &__menu {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    position: relative;

    @include desktop-and-bigger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__logo {
    position: relative;
    top: -0.625em;

    @include tablet-and-bigger {
      grid-column: auto;
    }

    &:hover,
    &:focus-within {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__btn-menu {
    @include tablet-and-bigger {
      display: none;
    }
  }

  &__title {
    font-size: Calc((100vw - 320px) / (1440 - 320) * (55 - 35) + 35px);
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 1.8em;
  }
}
