.page-content {
  display: grid;
  justify-items: center;
  gap: 2.5rem 0;
  margin-top: 5.625rem;
  position: relative;

  @include tablet-and-bigger {
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    margin-top: 3.625rem;

    &__filter-btn {
      display: none;
    }
  }

  &__wrap {
    display: grid;
    gap: 58px 0;
  }
}
